body {
  margin: 0;
  background: #8f929e;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.info-chunk > img
{
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -110%);
  padding-bottom: 50px;
}

.info-chunk
{
  text-align: center;
  padding-top: 430px ;
}

.info-name{
  color: white;

}
.about-chunk{
  text-align: center;
}

.about-chunk > h1{
  color: white;
}

.interest-chunk{
  text-align: center;
}

.interest-chunk > h1{
  color: white;
}

.footer-chunk{
  text-align: center;
  background: orange;
  padding-bottom: 1px;

}


